# OS / IDE
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# deps / cache
node_modules/
.pnpm-store/
pnpm-lock.yaml

# builds
dist/
build/
.next/
out/
.vercel/
.turbo/

# logs / coverage
*.log
*.tsbuildinfo
coverage/

# env
.env
.env.*
!.env.example
